<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="bannercontainer">
                <h2 class="centered">Der Familienname Müller</h2>
            </div>
            <dl>Der Familienname Müller geht auf die gleichlautende Berufsbezeichnung, einem Handwerk, zurück: In fast jedem Dorf gibt es im Mittelalter eine von einem Müller betriebene Mühle, die durch Wasser, Wind oder Zugtiere angetrieben wird.</dl>
            <dl>Die Müller, so erzählt es ihre Sozialgeschichte, haben es nicht immer einfach, denn: Im Mittelalter bis in die Frühe Neuzeit gilt das Müllergewerbe als anrüchig und ehrlos. In der Frühen Neuzeit, die mit dem Übergang vom 18. ins 19. Jahrhundert und mit der Französischen Revolution endet, wird es vielerorts zu den unehrlichen, das heisst gesellschaftlich verachteten Berufen gezählt.</dl>
            <dl>Bei konkreten Verdachtsfällen und Beschuldigungen gelingt es den Müllern aber in der Regel, durch die Obrigkeit rehabilitiert zu werden. Ihnen nachgesagte Betrügereien sehen zum Beispiel wie folgt aus: So sollen ihre Hühner und Schweine vom fremden Getreide fressen, oder es sollen versteckte Nebenbeutel geführt werden, in die Teile des gemahlenen Guts heimlich hineinfallen. Diese Betrugsvorwürfe dürften aber weitgehend üble Nachrede sein: In der Realität sind Müller, wenn überhaupt, nicht betrügerischer als andere Handwerker.</dl>
            
            <div class="imgspacer"></div>
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item">
                    <img src="../../assets/Mueller-bei-der-Arbeit.png" alt="Mueller-bei-der-Arbeit" class="imginimgcontainer centered">
                    <p class="imgsubtitle">Der Müller bei der Arbeit; Illustration aus dem sog. Ständebuch (Eygentliche Beschreibung aller Stände auff Erden hoher und nidriger, geistlicher und weltlicher, aller Künsten, Handwercken und Händeln...) von Jost Amman und Hans Sachs aus dem Jahre 1568</p>
                </div>
                <div class="grid-item"></div>
            </div>
            <div class="imgspacer"></div>

            <dl>Müller wird ab ungefähr dem Jahre 1450 als Familienbezeichnung benutzt und verbreitet sich anschliessend, auch losgelöst vom eigentlichen Handwerk, stark. Dies führt zu der Situation, dass Müller sowohl der häufigste Familienname im deutschen Sprachraum als auch der häufigste deutsche Familienname ist. Neben der Grundform existieren viele Varianten (Möller, Miller, Mueller, von Müller...), Zusammensetzungen (Wegmüller, Weissmüller, Schwarzmüller, Segmüller...) und Doppelnamen (Müller-Marzohl, Müller-Wohlfahrt, Müller-Drossaart, Müller-Thurgau...).</dl>
            <dl>Die Häufigkeit geht so weit, dass Müller auf verschiedene Art und Weise in die Umgangssprache Einzug gefunden hat. So ist Lieschen Müller ein Platzhaltername für einen Durchschnittsmenschen. Dazu wird gerne mal gemüllert. Und wer kennt nicht das Alles Müller,...oder was?</dl>
            <div style="height: 100px;"></div>
        </div>
        <div class="grid-item"></div>
      </div>
</div>
