<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="titlecontainer">
                <h2 class="centered">Etziken und die dort ansässigen Müller</h2>
            </div>

            <dl>Vor fast einem halben Jahrtausend, im Übergang vom Spätmittelalter zur Frühen Neuzeit, lassen sich in Etziken die ersten Personen mit Familiennamen Müller urkundlich belegen. Es handelt sich dabei um sesshafte, mit entsprechendem Besitz ausgestattete Bauern. Aufgrund verschiedener Merkmale können wir davon ausgehen, dass es sich um unsere Vorfahren handelt. In dieser Aussage bleibt aber (vorerst noch) ein spekulatives Element.</dl>

            <div class="imgspacer"></div>
            <div class="grid-container-img-left">
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Schoepf2.png" alt="Schoepf2" class="imginimgcontainer centered" title="hesdfsdfllo">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium" style="font-size: 10px;">Darstellungen von Etziken im Lauf der Zeit (1): Die Karte (Ausschnitt) vom Stadtarzt von Bern, Thomas Schöpf (1520-1577), gedruckt im Jahr 1578, wird als qualitativ hochstehend und detailreich bewertet. Nur: Etziken wird nicht durch die Bezeichnung einer Ortschaft dargestellt, wir suchen den Namen unseres Dorfes vergebens. Der Autor hat den ungefähren Standort von Etziken mit einem blauen Kreis markiert. Vielleicht ist dieses Unterlassen bewusst vorgenommen worden: Genau über Etziken zieht sich die damalige Grenze der Territorien von Bern (links) und Solothurn (rechts). Damals waren zudem die entsprechenden Herrschaftsverhältnisse, z.B. in der Gerichtsbarkeit, in Etziken noch zwischen Solothurn und Bern geteilt, und so wusste man damals nicht, wie dieser Zustand dargestellt werden sollte.</div>
                </div>
                <div class="grid-item"></div>
                <div class="grid-item"><p class="imgsubtitle">	Links befindet sich das erste Bild der den Text ergänzenden, achtteiligen Reihe Darstellungen von Etziken im Lauf der Zeit. Die Beschreibung zum Bild wird bei Darüberbewegen der Maus eingeblendet.</p></div>
            </div>
            <div class="imgspacer"></div>

            <dl>Im Jahr 1612 beginnt die eigentliche, sogenannte Stammreihe der Müller von Etziken. Ab diesem Punkt können wir mittels verschiedener Quellen lückenlos die Nachfahren über mindestens dreizehn Generationen bis heute nachverfolgen und mit Sicherheit belegen.</dl>
            <dl>Bis zur Französischen Revolution Ende des 18. Jahrhunderts sind die Müller in Etziken, wie die meisten anderen Bewohner, fast ausnahmslos in der Landwirtschaft tätig, und sie sind zehntenpflichtig. Das führt immer wieder zu kleineren und grösseren Konflikten mit der Obrigkeit. Im Jahre 1653 gipfelt es in einem Volksaufstand, dem Schweizer Bauernkrieg. An diesem sind anscheinend auch Etziker Müller beteiligt: Eine Sekundärquelle erwähnt, dass zwei Müller aus Etziken mit empfindlichen Strafen, hier Bussen, belegt werden. Es bleibt abzuklären, aufgrund welcher Taten sie gebüsst werden und ob sie unsere Vorfahren oder mit uns verwandt sind.</dl>
            <dl>In dieser Zeit finden wir Auffälligkeiten, bei denen für unsere Etziker Müller eine direkte Teilnahme nicht belegbar ist. Aber sie finden im nahen Umfeld statt, und man kann davon ausgehen, dass der eine oder andere unserer Vorfahren oder Verwandten am Geschehen beteiligt ist.  Wir haben dadurch bei den hier in Form von Erzählungen dargestellten Auffälligkeiten auch einen Einblick in deren Geistes- und Gefühlsleben. Hierbei handelt es sich um Aufzeichnungen über <a href="http://muellervonetziken.ch/etziken-und-die-dort-ansaessigen-mueller/erscheinungen-um-die-kirche-aeschi/">um die Kirche Aeschi</a> , zu den <a href="http://muellervonetziken.ch/etziken-und-die-dort-ansaessigen-mueller/solothurnische-hexenprozesse/">Solothurrnischen Hexenprozessen</a>  und um <a href="http://muellervonetziken.ch/etziken-und-die-dort-ansaessigen-mueller/im-taegermoos-eine-etziker-sage/">Im Tägermoos, eine Etziker Sage.</a></dl>
            
            <div class="imgspacer"></div>
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Grimm.png" alt="Grimm" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (2): Ausschnitt aus der ältesten Karte des Kantons Solothurn, der "Grundlager des Canton Solothurn", entstanden um 1690, erstellt vom Solothurner Stadtarzt Mauritius Grimm (1634-1706); Etziken, hier vermutlich das erste Mail in einer Landkarte dargestellt und Ezikon genannt, ist als kleiner runder Kreis mit Beschriftung zu finden über dem G des mit Grossbuchstaben geschriebenen KRIEG= =STÄTEN.</div>
                </div>
                <div class="grid-item"></div>
            </div>
            <div class="imgspacer"></div>

            <dl>Im Familiennamenbuch des Historischen Lexikons der Schweiz sind die Müller - zusammen mit den Bader, Felder, Glutz, Hofer, Jäggi, Kaufmann, Kähli, Marti, Meier, Misteli, Ochsenbein, Ris, Stampfli, Trösch und Wetterwald - als vor dem Jahr 1800 in Etziken eingebürgert dokumentiert und belegt. In dieser Zeit wird die erste Schule in Etziken eingerichtet, was darauf deutet, dass ein grosser Teil der dortigen Bevölkerung bis dahin weder lesen noch schreiben kann.</dl>

            <div class="imgspacer"></div>
            <div class="grid-container-img-left">
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Walser.png" alt="Walser" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (3): Der "Atlas novus Reipublicae Helveticae", erschienen im Jahr 1766 beim Verlag der Homännischen Erben in Nürnberg, erstellt vom Schweizer Pfarrer, Historiker und Geograph Gabriel Walser (1695-1776), ist da schon etwas genauer und detaillierter: Wir können zum Beispiel in diesem Ausschnitt erkennen, dass durch "Elziken" eine Strasse führt.</div>
                </div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
            <div style="height: 15px;"></div>
            <div class="grid-container-img-right">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Atlas-Suisse.png" alt="Atlas-Suisse" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (4): Der "Atlas Suisse" des Aarauer Industriellen Johann Rudolf Meyer (1739-1813), entstanden in den Jahren 1786-1802 und erschienen 1796-1802, ist das älteste Kartenwerk, das die ganze Schweiz umfasst und auf wissenschaftlicher Vermessung beruht. Etziken, hier "Elzigen" genannt, ist - obschon nur mit vier Gebäuden - als Siedlung dargestellt.</div>
                </div>
            </div>
            <div class="imgspacer"></div>

            <dl>Im 19. Jahrhundert finden vermehrt Ab- und Auswanderungen der Müller aus Etziken statt, sowohl aus dem Dorf Etziken und dem Stadtstaat und Kanton Solothurn wie auch ins Ausland und sogar nach Übersee. Gleichzeitig und mit der beginnenden Industrialisierung wenden sich die in Etziken verbleibenden Müller langsam von der Landwirtschaft ab und der Industrie und dem Handwerk zu. Ein typisches Beispiel dafür ist Urs Viktor, genannt "Viggi", Sohn des Urs, geboren 1872, Vertreter des "Ansässigen Zweigs": Er arbeitet als Spinnmeister in der Kammgarnspinnerei Derendingen. In Etziken selber betreibt er eine kleine Landwirtschaft mit etwas Flur und Vieh - der Stall steht heute noch.</dl>
            <dl>Das vorletzte Jahrhundert bringt zudem grosse politische Änderungen: Aus dem Stadtstaat Solothurn mit seiner Aristokratie, dem Patriziat als Herrschaftsform entsteht der als Teil eines Bundesstaates demokratisch organisierte Kanton mit seinen Bürgern. Erst ab etwa 1850 haben diese vollwertige Wahl- und Stimmrechte. Der Zehnten wird abgeschafft</dl>

            <div class="imgspacer"></div>
            <div style="height: 15px;"></div>
            <div class="grid-container-img-two">
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Etziken-Dufourkarte_2.png" alt="Etziken-Dufourkarte_2" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (5): Etziken auf der Erstausgabe der Dufourkarte (1845-1865), der ersten amtlichen Karte der Schweiz, Blatt 007 Porrentruy-Solothurn, Datenbestand 1845, Publikation 1848; diese Karte besticht durch ihre Detailtreue, für Etziken sind 42 Gebäude erkennbar</div>
                </div>
                <div class="grid-item"></div>
                <div class="grid-item hoverwrap">
                    <img src="../../assets/Etziken-Siegfriedkarte_1.png" alt="Etziken-Siegfriedkarte_1" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (6): Topographischer Atlas der Schweiz, sog. Siegfriedkarte (1870-1926); der Ausschnitt aus dem Blatt 127 (Aeschi), Datenbestand 1884, zeigt, im Vergleich zur Dufourkarte links, die Entwicklung des Dorfes; man beachte auch die 1857 eröffnete Bahnstrecke Solothurn - Herzogenbuchsee (oben im Bild)</div>
                </div>
            </div>
            <div class="imgspacer"></div>

            <dl>In der jüngeren Vergangenheit übernehmen die Müller Verantwortung in der Gemeinde Etziken, zum Beispiel als Bürgerammänner. Seit dem Jahr 1933 haben sie drei gestellt. Ausserdem leisten sie bedeutende Beiträge zu der ökonomischen Entwicklung Etzikens - <a href="http://muellervonetziken.ch/etziken-und-die-dort-ansaessigen-mueller/hp-mueller-werkzeugmaschinen-ag/">siehe diesen internen Link dazu</a>. Müller von Etziken sind zudem im näheren Umland in Aktion getreten - <a href="http://muellervonetziken.ch/etziken-und-die-dort-ansaessigen-mueller/urs-mueller-in-aeschi/">siehe diesen internen Link dazu</a></dl>
            
            <div class="imgspacer"></div>
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item hoverwrap">
                    <img src="../../assets/waelchli-hb_etziken-totalansicht-nr.-105-1940-sw.jpg" alt="waelchli-hb_etziken" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (7): Das Dorf Etziken auf einer Ansichtskarte, gestempelt 1940; Aufnahme vom 1931 erbauten Wasserturm, dem höchsten Punkt des Wasseramtes, aus; im Hintergrund der Jura</div>
                </div>
                <div class="grid-item"></div>
            </div>
            <div class="imgspacer"></div>

            <dl>Etziken hat seine seine Ländlichkeit bis in die heutigen Tage zu einem Teil bewahren können. Seine Einwohner sind, so hört man, auch heute noch bescheiden. Die Müller von Etziken sind, verteilt über die Schweiz und die Welt, zahlreich vertreten, auch in Etziken sind wir - wenn auch weniger zahlreich - präsent.</dl>

            <div class="imgspacer"></div>
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item hoverwrap">
                    <img src="../../assets/swisstopo_6.png" alt="swisstopo_6" class="imginimgcontainer centered">
                    <div class="hovercap imgsubtitle w3-hide-small w3-hide-medium">Darstellungen von Etziken im Lauf der Zeit (8): Die Siedlung Etzikens, zusammen mit der Nachbargemeinde Hüniken links unten, auf einer Luftaufnahme von swisstopo, entstanden im Jahr 2019; im Bild links oben ist das in der zweiten Hälfte des 20. Jahrhunderts entstandene Industrie- und Gewerbegebiet gut zu erkennen</div>
                </div>
                <div class="grid-item"></div>
            </div>
            <div class="imgspacer"></div>

            <div style="height: 375px;"></div>
        </div>
        <div class="grid-item"></div>
      </div>
</div>