<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="bannercontainer">
        <img src="../../assets/etziken-wide.webp" alt="etziken" style="width:100%">
        <span class="w3-table w3-striped w3-jumbo centered">Müller von Etziken</span>
    </div>
</div>

<div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">
            <h2>Herzlich willkommen zu der familienkundlichen Website der Müller von Etziken</h2>
            <dl>Wer Müller heisst, wird bald einmal feststellen, dass er nicht der einzige ist, der diesen Namen führt. Es gibt sogar so viele, dass man dazu verleitet ist, diesen Namen mit Normalität und Durchschnitt zu verbinden. Dagegen spricht, und dies ist aussergewöhnlich und bedeutet einen Erfolg, wie sich dieser Familienname seit dem späten Mittelalter so stark ausbreiten und bis heute halten konnte.</dl>
            <dl>In diesem Zusammenhang ist der Träger dieses Namens daran interessiert, näheres über die Geschichte seiner Familie zu erfahren. Die hier präsentierten Resultate aus der Familienforschung über die in Etziken verbürgerten Müller bringen dazu Interessantes und Überraschendes hervor...</dl>
        </div>
        <div class="grid-item"></div>
      </div>
</div>